/* dark grey: #1B1B26 */
/* yellow: #F7DF3E */
/* beige: #F1E2D0 */

body {
  height: 100vh;
  background: Cornsilk;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #1b1b26;
  padding: 50px;
  display: flex;
  justify-content: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 760px;
}

img {
  max-width: 60%;
}

h1,
p {
  font-size: 36px;
}

h1,
form,
p,
ul {
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  padding-top: 50px;
}

label {
  margin-top: 30px;
}

input {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: black;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  outline: none;
  margin-top: 30px;
}

p {
  background-color: #f7df3e;
  padding: 10px 5px;
  border: none;
  color: black;
}

button {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 80px;
}

button:hover {
  cursor: pointer;
}

span {
  background-color: #f7df3e;
  padding: 0 5px 4px;
  border: 1px solid currentColor;
  border-radius: 3px;
  display: inline-block;
}

span:hover {
  border-color: transparent;
  background-color: transparent;
}

li {
  background-color: #f7df3e;
  padding: 0 5px;
  font-size: calc(1rem + 3vw);
}
